.messageContainer {
    background-color: rgb(19, 19, 19);
    width: 50vw;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.furiaIcon {
    width: 3vw;
    padding: 20px;
}

.message {
    padding: 20px;
}