.messageContainer {
    background-color: rgb(19, 19, 19);
    width: 50vw;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.fanIcon {
    width: 3vw;
    margin-left: auto;
    padding: 20px;
}

.message {
    padding: 20px;
}