.chatTextarea {
    max-height: 200px;
    width: 90%;
    resize: none;
    overflow-y: hidden;

    margin: 25px;
    display: block;
    background-color: rgb(36, 36, 36);
    border: none;
    outline: none;
    line-height: 20px;
    color: white;
}

.chatButton {
    height: 3em;
    width: 5em;
    margin: 10px;
}